body {
	height: calc(100% - 110px);
}
#main {
	margin-top: 110px;
	height: calc(100% - 50px);
}
.form-horizontal .form-group .error {
	color: red;
	text-align: left;
}
.user-menu {
	padding-right: 0px;
}
.btn-logout {
	margin-top: 10px;
	margin-left: 10px;
}
.btn-main-clock-in {
	font-weight: bold;
	font-size: 26px;
	background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-main-clock-out {
	font-weight: bold;
	font-size: 26px;
	background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-start-task {
	background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-stop-task {
	background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-start-task.disabled {
	background-color: #dedede;
}
#schedules {
	text-align: left;
	padding-left: 15px;
}
.task-table .task-item .column.task-name {
	padding-left: 5px;
}
.banner {
	position: fixed;
	width: 100%;
	top: 0;
}
.banner .kiosk-name {
	color: #fff;
	font-size: 18px;
	padding-top: 10px;
	text-transform: uppercase;
}
.equipment-wrapper{
	
}
.equipment-item {
	padding: 5px;
	background: #ccc;
	border-radius: 5px;
	margin-top: 5px;
	display: inline-block;
}
#login-page {
	background: none;
    width: 100%;
}
.login-button {
	text-align: right;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	body {
		background: #fff;
	}
	#main {
		margin-top: 0;
	}
	.employee-menu, .content {
		height: auto;
	}
	.employee-menu {
		margin-top: 60px;
	}
	.content {
		margin-bottom: 60px;
	}
	.btn-logout {
		margin-left: 0;
		margin-right: 10px;
	}
	.header-right {
		width: 100%;
	}
	.header-list {
		width: 100%;
		justify-content: space-between;
	}
	.header-list li {
		margin: 0;
	}
}

/*Mobile Menu*/
.mobile-menu {
	display: none;
}
.mobile-list-menu {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	align-self: center;
	margin-bottom: 0;
	align-items: center;
	height: 56px;
	background: #fff;
}
.mobile-list-menu li {
	display: inline-block;
	width: 25%;
	text-align: center;
}
.mobile-list-menu li span {
	font-size: 20px;
}
.mobile-list-menu li a {
	color: #474747;
}
.mobile-list-menu li.active a, .mobile-list-menu li a:hover {
	color: #5cb85c;
}
.mobile-show {
	display: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.header-right {
		display: none;
	}
	.mobile-menu {
		display: block;
		position: fixed;
		bottom: 0;
		width: 100%;
		border-top: 1px solid #ababab;
		margin-left: -15px;
	}
	.mobile-show {
		display: block;
	}
    #login-page {
        margin-top: 50px;
    }
    #login-page .login-form {
        margin: 0;
        border: none;
        width: 100%;
        border-radius: 22px;
        background: #E9E9E9;
        box-shadow: none;
        padding: 0;
    }
    .lw-text {
        width: 100% !important;
    }
}
@media screen and (max-height: 590px) {
	#main {
		height: auto;
	}
}
@media screen and (max-width: 900px) and (min-width: 768px) {
    .lw-text {
        width: 100% !important;
    }
}
/*Time Management CSS*/
.admin-left-sidebar {
    padding-top: 40px;
    margin-left: 20px;
}
.admin-list {
    list-style: none;
    padding-left: 0;
}
.admin-list .admin-list-item {
    padding: 5px 10px;
    border-bottom: 1px solid #ababab;
}
.admin-list .admin-list-item a {
    color: #000;
}
.admin-list .admin-list-item a:hover {

}
.admin-department {
    padding-left: 20px;
    padding-top: 40px;
}
.admin-department h3{
    font-weight: bold;
    font-size: 16px;
}
.depart-item {
    margin-bottom: 10px;
    text-align: center;
}
.depart-item a {
    padding: 5px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #000;
}
.depart-item a.active {
    background: linear-gradient(#62c419, #b3e38f);
    font-weight: bold;
}
.big-title {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-right: 20px;
}
.time-info {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.inl-bl {
    display: inline-block;
}
.time-info .inl-bl {
    align-items: center;
}
.show-time {
    align-self: center;
}
.show-time p {
    margin-bottom: 0;
}
.time-prev a, .time-next a {
    font-size: 30px;
    color: #000;
}
.time-border {
    border: 1px solid #ddd;
    padding: 5px;
}

.ui-timepicker-container {
	z-index: 1100 !important;
}

.check-background {
	background: url(../img/check.png) no-repeat;
	background-color: #fff;
	background-position: 97%;
}

#profile {
	margin-top: 110px;
}
#profile .form-group label, .settings .form-group label {
	margin-top: 5px;
}
.login-form .remember-me {
	margin-top: 15px;
	padding-left: 10px;
}
.login-form {
	width:600px;
	margin:0 auto;
	padding:50px 100px;
	border: 2px solid #ccc;
	border-radius:22px;
	box-shadow:5px 5px 4px #d2d2d2;
	background:#f6f6f6;
}
.control-label.login-label {
	width: 100%;
	text-align: left;
    padding: 0;
    font-size: 16px;
}
.form-control {
    border-radius: 11px;
}
.password-div {
    margin-top: 20px;
}
.lw-text {
    width: 50%;
    margin: 20px auto;
    font-weight: bold;
}
.login-title h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}
.btn-success {
	color:#fff;
	background: linear-gradient(to bottom, #136B4B, #1FB088, #1FB088, #136B4B);
	border-color:transparent;
    font-weight: bold;
    padding: 5px 50px;
}
.btn-success.active,.btn-success:active,.btn-success:hover,.open >.dropdown-toggle.btn-success {
	color:#fff;
	background: linear-gradient(to bottom, #136B4B, #1FB088, #1FB088, #136B4B);
	border-color:transparent;
}
.clickable {
	cursor: pointer;
}
.employee-timeline-item {
	text-align: left;
	margin: 0;
}
.day-off {
	color: #C00000;
}
.date {
	padding: 0 5px;
}
.date-schedule {
	padding: 0;
}
.date-schedule-time {
	margin: 0;
}
.employee-timeline.schedules {
	font-size: 11px;
	height: calc(100vh - 450px);
	overflow-y: auto;
}
.grayed-out {
	background: #535353;
}
.split-name {
	display: none;
}
.grayed-out .split-name {
	display: block;
}
.task-table .row-title .column {
	padding-top: 10px;
}
.task-table .task-item, .task-table .row-title {
	display: flex;
	justify-content: space-between;
}
.task-table .task-item {
	align-items: center;
	border-bottom: 2px solid #ccc;
	position: relative;
}
.task-table .split-name {
	position: absolute;
	width: auto;
	left: 0;
	right: 0;
	text-align: center;
	top: 20px;
	font-size: 20px;
	color: #fff;
}
.task-table .task-more, .task-table .work-flow {
	z-index: 1000;
}
.task-table .task-item .column.act-time.over-est .est-time {
	color: #000;
}
.width30 {width: 30%}
.width10 {width: 10%}
.width15 {width: 15%}
.width20 {width: 20%}
.width35 {width: 35%}
.width40 {width: 40%}
.width55 {width: 55%}


.add-task {
	float: right;
	padding: 2px 10px;
	background: linear-gradient(to bottom, #666, #f2f2f2, #f2f2f2);
	border-radius: 5px;
	color: #000;
	font-size: 14px;
}
.add-task:hover,
.add-task:focus {
	color: #000;
	text-decoration: none;
}
#addTaskModal .modal-header {
	text-align: center;
	padding: 8px;
}
#addTaskModal .modal-body {
	max-height: 85vh;
	overflow: auto;
	height: calc(100% - 42px);
}
.atask-item-area {
	border-bottom: 1px solid #666;
	padding: 8px 0;
}
.atask-name-est {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}
.atask-name-est p {
	margin: 0;
	line-height: 16px;
}
.atask-name {
	width: 60%;
	padding-right: 15px;
	font-weight: bold;
}
.atask-est {
	width: 30%;
}
.atask-est span {
	font-weight: bold;
}
.add-this {
	width: 10%;
	text-align: right;
	color: #39DB38;
	font-size: 20px;
	line-height: 18px;
}
.atask-note {
	line-height: 16px;
}
.alert-task-pool {
	color: #E7DA09;
}
.alert-task-pool:hover {
	color: #f7e707;
}
.alert-popup {
	display: none;
	position: absolute;
	right: 0;
	top: 30px;
	z-index: 100;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	width: 300px;
}
.alert-popup:before,
.alert-popup:after {
	bottom: 100%;
	right: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.alert-popup:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #000;
	border-width: 11px;
	margin-left: -11px;
}
.alert-popup:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.alert-header {
	border-bottom: 2px solid #666;
	font-size: 15px;
}
.alert-header .warning-icon {
	color: #e7da09;
	font-size: 1.5em;
}
.alert-header .right {
	float: right;
}
.alert-header .close-alert {
	color: #000;
	font-size: 1em;
}
.alert-expire-list {
	padding: 0;
	list-style: none;
}
.expire-item {
	display: flex;
	justify-content: space-between;
}
#addTaskModal .modal-dialog {
	min-height: 85vh;
	max-height: 85vh;
	height: 100%;
}
#addTaskModal .modal-dialog .modal-content {
	height: 100%;
}

#note-modal .modal-title {
	text-align: center;
}
#note-modal textarea {
	height: 100px;
}
#note-modal .form-group-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#note-modal .btn-exit {
	background: linear-gradient(to bottom, #333 10%, #7f7f7f 80%, #333);
	color: #fff;
	font-weight: bold;
}
#note-modal .btn-save {
	background: linear-gradient(to bottom, #196a0b 10%, #1c8c0a 80%, #196a0b);
	color: #fff;
	font-weight: bold;
}
.m-task-note {
	text-align: left;
}
.accept-swap-list {
    border-top: 2px solid #f2f2f2;
    padding-top: 5px;
}
.accept-swap-list .accept-swap-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
.accept-swap-list .accept-swap-item .accept-swap-content {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 225px;
}
.accept-swap-list .accept-swap-item .accept-swap-content i {
    align-self: flex-end;
    margin-bottom: 6px;
}
.accept-swap-list .user-want,
.accept-swap-list .user-mine {
    font-weight: bold;
    font-size: 12px;
}
.accept-swap-list .user-name {
    margin-bottom: 0;
}
.time-leap {
    font-size: 10px;
    margin: 0;
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
}
.time-leap span {
    display: block;
}
.accept-swap-list .accept-swap-btngroup {
    margin-top: 5px;
    flex-grow: 2;
    text-align: center;
}
.accept-swap-list .btn-agree-swap,
.accept-swap-list .btn-dismiss-swap {
    padding: 3px 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0 5px;
    width: 30px;
    display: inline-block;
}
.accept-swap-list .btn-agree-swap {
    color: #39DB38
}
.accept-swap-list .btn-dismiss-swap {
    color: #FF0127;
}
.date-request {
    text-align: center;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 3px 0;
}
.bell-alert {
    margin-right: 10px;
}
.sidebar-clocked-in {
	cursor: pointer;
}